<div class="row">
    <div class="col-md-6">
        <app-donut-chart [Source]="donutData"></app-donut-chart>
    </div>
    <div class="col-md-6">
        <app-waterfall-chart [Source]="waterfallData"></app-waterfall-chart>
    </div>
    <div class="col-md-6">
        <app-stacked-bar-chart [Source]="slackedData"></app-stacked-bar-chart>
    </div>
    <div class="col-md-6">
        <app-barchart [Source]="barData"></app-barchart>
    </div>
    <div class="col-md-6">
        <app-multi-line-chart [Source]="multilineData"></app-multi-line-chart>
    </div>
    <div class="col-md-6">
        <app-linechart [Source]="lineData"></app-linechart>
    </div>
    <div class="col-md-6">
        <app-double-bar-chart [Source]="groupedData"></app-double-bar-chart>
    </div>
    <div class="col-md-6">
        <app-area-chart [Source]="areaData"></app-area-chart>
    </div>
</div>